.brands-page {
	background:#f0f0f0 url(../../images/front_end/bg-brands.jpg) no-repeat 50% 0;
	background-size:cover;
	.section {
		border-color:#b9beba;
		.row-area{
			.text-holder{
				.text{
					.link{
						margin: 0 0 5px;
					}
				}
			}
			.brand-not-found {
				padding: 5px 5px 20px;
    			text-align: center;
			}
		}
	}
	.title-box {
		color:#fff;
		font-size:21px;
		line-height:23px;
		text-shadow:0 0 7px rgba(0,0,0,0.3);
		padding:10px 0 43px;
		h1 {
			font-size:44px;
			line-height:46px;
			margin:0 0 1px;
			color:#fff;
		}
	}
	#main{padding-bottom:27px;}
	.search-area{
		padding:4px 6px 7px 26px;
		overflow:hidden;
		.search-form {
			border-color:#e4e4e4;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset;
			float:none;
			overflow:hidden;
			input[type="text"]{
				width:100%;
				color:#adaeb0;
			}
			.text-active {color:#33383e !important;}
			.area {
				overflow:hidden;
			}
			.btn {
				float:right;
				box-shadow:none;
				border:0;
				width:53px;
			}
		}
	}
	.row-area{
		margin:-1px 0 0 -1px;
		overflow:hidden;
	}
	.heading{
		color:@text-color;
		font-size:21px;
		line-height:24px;
		padding:25px 14px 24px 30px;
		.mark-text {
			font-size:14px;
			line-height:16px;
			display:block;
			margin:7px 0 0;
		}
		.hold {
			float:left;
		}
	}
	.img-ico{
		float:left;
		margin:2px 16px 0 0;
		img{
			display:block;
			.border-radius;
			border:1px solid #ddd;
			.box-shadow(0 1px 2px rgba(0, 0, 0, 0.05));
			-moz-box-sizing: content-box;
			-webkit-box-sizing: content-box;
			box-sizing: content-box;
		}
	}
	.link{
		font-size:13px;
		display:inline-block;
		vertical-align:top;
		color:@light-blue;
		font-size:18px;
		line-height:18px;
		text-decoration:none;
		margin:0 0 8px;
		&:hover {
			color:@text-color;
		}
	}
	.active-offer{
		color:@text-color;
	}
	.section{
		.block{
			padding:9px 3% 35px 4%;
			border:0;
			.link{
				display:inline-block;
				vertical-align:top;
				color:@light-blue;
				font-size:18px;
				line-height:18px;
				text-decoration:none;
			}
			.text{
				padding:0 0 2px 2px;
				overflow:hidden;
				min-height:20px;
				p{margin:0 0 5px;}
			}
		}
	}
	.pop{
		line-height:12px;
		font-size:11px;
		font-weight:bold;
		padding:5px 21px 6px;
		border-radius:3px;
		box-shadow: 0 1px 3px rgba(0,0,0,.05), 0 1px 0 #fff inset;
		border-color:#dedede;
		text-transform:uppercase;
		color:#07c;
		em{
			font-style:normal;
			display:block;
		}
		strong{
			display:none;
			font-weight:normal;
		}
		span{
			
			display:inline-block;
			vertical-align:middle;
		}
		.glyphicon-heart{
			padding:0 5px 0 0;
			margin:-1px 0 0 -9px;
			vertical-align:middle;
			color:#07c;
			display:inline-block;
			font-size:12px;
			line-height:15px;
		}
		&:hover{
			strong{display:block;}
			em{display:none;}
		}
	}
	#sidebar{
		.block{
			padding:0;
			margin:0 0 35px;
			border-color:#b4b9b4;
		}
		.heading{
			font-size:21px;
			line-height:23px;
			padding:22px 18px 24px 30px;
		}
		.heading-2{
			padding:25px 30px 15px;
			border-bottom:1px solid @page-header-border-color;
			h2{margin:0 0 11px;}
			p{margin:0;}
		}
		.box-area{
			.box{
				&:first-child {border:none;}
			}
			.txt-center{
				padding: 22px 18px 24px 30px;
			}
		}
		.box{
			font-size:12px;
			line-height:15px;
			padding:22px 15px 23px 31px;
			.text{
				padding:0 0 2px 2px;
				overflow:hidden;
				min-height:20px;
				.link{
					margin:0 0 5px;
				}
				p{margin:0 0 5px;}
			}
		}
		.pop{
			min-width:87px;
			padding:7px 14px 8px;
			text-align:center;
			font-size:11px;
			line-height:12px;
			text-transform:uppercase;
			font-weight:bold;
			border:0;
			color:#fff;
			box-shadow:none;
			border-radius:3px;
			background: #168dc5 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE2OGRjNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQlIiBzdG9wLWNvbG9yPSIjNTdiZWU3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOCUiIHN0b3AtY29sb3I9IiMwODllZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5NiUiIHN0b3AtY29sb3I9IiMwMTdjYzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTY4ZGM1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
			background: -moz-linear-gradient(top,  #168dc5 0%, #57bee7 4%, #089eda 8%, #017cc3 96%, #168dc5 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#168dc5), color-stop(4%,#57bee7), color-stop(8%,#089eda), color-stop(96%,#017cc3), color-stop(100%,#168dc5));
			background: -webkit-linear-gradient(top,  #168dc5 0%,#57bee7 4%,#089eda 8%,#017cc3 96%,#168dc5 100%);
			background: -o-linear-gradient(top,  #168dc5 0%,#57bee7 4%,#089eda 8%,#017cc3 96%,#168dc5 100%);
			background: -ms-linear-gradient(top,  #168dc5 0%,#57bee7 4%,#089eda 8%,#017cc3 96%,#168dc5 100%);
			background: linear-gradient(to bottom,  #168dc5 0%,#57bee7 4%,#089eda 8%,#017cc3 96%,#168dc5 100%);
			em {
				font-weight:bold;
				.glyphicon-heart{
					color: red;
				    font-size: 12px;
				    line-height: 11px;
				    margin: 0;
				    padding: 0;
				    top: 0;
				    left: -5px;
				}
			}
			&:hover {
				background: #c21616 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MyMTYxNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQlIiBzdG9wLWNvbG9yPSIjZTg4MzgzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOCUiIHN0b3AtY29sb3I9IiNkYzQ3NDciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIzOCUiIHN0b3AtY29sb3I9IiNkNDM4MzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3MyUiIHN0b3AtY29sb3I9IiNjODIyMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzIxNjE2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
				background: -moz-linear-gradient(top,  #c21616 0%, #e88383 4%, #dc4747 8%, #d43838 38%, #c82222 73%, #c21616 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c21616), color-stop(4%,#e88383), color-stop(8%,#dc4747), color-stop(38%,#d43838), color-stop(73%,#c82222), color-stop(100%,#c21616));
				background: -webkit-linear-gradient(top,  #c21616 0%,#e88383 4%,#dc4747 8%,#d43838 38%,#c82222 73%,#c21616 100%);
				background: -o-linear-gradient(top,  #c21616 0%,#e88383 4%,#dc4747 8%,#d43838 38%,#c82222 73%,#c21616 100%);
				background: -ms-linear-gradient(top,  #c21616 0%,#e88383 4%,#dc4747 8%,#d43838 38%,#c82222 73%,#c21616 100%);
				background: linear-gradient(to bottom,  #c21616 0%,#e88383 4%,#dc4747 8%,#d43838 38%,#c82222 73%,#c21616 100%);
			}
		}
		.share-forms{
			padding:16px 27px 19px;
			margin:0;
			.form-group{margin:0 0 17px;}
			input[type="text"],
			input[type="email"],
			input[type="password"],
			textarea{
				color:@text-color;
				display:block;
				width:100%;
				font-size:13px;
				line-height:18px;
				float:none;
				.box-shadow(0 1px 3px rgba(0,0,0,.05) inset);
				border:1px solid #e4e4e4;
				background:@white-color;
				padding:13px 15px 14px;
				text-indent:0;
				height:47px;
			}
			textarea{
				width:100% !important;
				max-width:100%;
				height:140px;
				min-height:70px;
				max-height:200px;
			}
			button[type="submit"]{
				width:100%;
				float:none;
				display:block;
			}
		}
	}
	#footer-light{
		.bottom-nav{
			padding:41px 0 54px;
			border-width:1px 0;
			border-style:solid;
			border-color:#d9d9d9;
		}
		.add-block{
			padding:40px 0;
		}
	}
}
@media only screen and (max-width: 1199px){
	.brands-page {
		.search-area {
			padding:4px 6px 7px 16px;
			.search-form .btn {width:30px;}
		}
		.section{
			.block{
				padding:45px 25px;
			}
		}
		#sidebar{
			.box{padding:23px 20px;}
			.share-forms{
				padding:16px 20px 19px;
			}
			.heading-2{
				padding:25px 25px 15px
			}
		}
	}
}
@media only screen and (max-width: 979px){
	.brands-page {
		.heading{
			padding:18px 25px;
			.hold {
				float:none;
			}
		}
		.search-area{
			padding:24px 0 7px;
			.search-form{
				input[type="text"]{width:431px;}
				.btn{width:8%;}
			}
		}
		.section{
			.block{
				padding:25px 15px;
			}
		}
		.img-ico{
			width:45%;
			margin-right:10px;
			img{
				max-width:100%;
				height:auto;
			}
		}
		#sidebar{
			.block{margin:0 0 20px;}
			.box{padding:23px 15px;}
			.share-forms{
				padding:15px;
				.form-group{
					margin:0 0 10px;
				}
				.col{
					margin-top:15px;
					&:first-child{margin:0;}
				}
				input[type="text"],
				input[type="email"],
				input[type="password"],
				textarea{
					padding:10px 10px 11px;
				}
				textarea{
					height:90px;
				}
			}
			.heading,
			.heading-2{
				padding:19px 15px
			}
		}
	}
}
@media only screen and (max-width: 767px){
	.brands-page {
		.heading{
			font-size:18px;
			line-height:22px;
			padding:12px 10px;
		}
		.search-area{
			text-align:center;
			padding:20px 10px 7px;
			.search-form{
				display:inline-block;
				vertical-align:top;
				width:auto;
				input[type="text"]{
					width:255px;
				}
				.btn{width:11%;}
			}
		}
		.img-ico{
			width:40%;
			margin-right:10px;
		}
		.section{
			.block{
				padding:20px 10px;
				height:auto !important;
			}
		}
		#sidebar{
			display: block;
			.img-ico{
				width:auto;
			}
			.box{padding:20px 10px;}
			.share-forms{
				padding:10px;
				.form-group{
					margin:0 0 10px;
				}
				.col{
					margin-top:10px;
					&:first-child{margin:0;}
				}
				input[type="text"],
				input[type="email"],
				input[type="password"],
				textarea{
					padding:10px 10px 11px;
				}
				textarea{
					height:90px;
				}
			}
			.heading,
			.heading-2{
				padding:12px 10px
			}
		}
		.login-box {
			padding:25px 0 5px;
			h1 {
				padding:0 10px 21px;
				margin:0 0 15px;
			}
			.text {
				float:none;
				clear:both;
				text-align:center;
			}
			.login-form .btn {
				float:none;
				margin:0 auto;
				display:block;
				width:89px;
			}
		}
		#footer-light{
		.container{padding:0;}
			.bottom-nav{
				padding:41px 10px 54px;
			}
			.add-block{
				padding:40px 10px;
			}
		}
	}
}
@media only screen and (max-width: 639px){
	.brands-page{
		.img-ico{
			width:32%;
		}
		background-size:160% auto;
		background-position:50% 50px;
	}
}
@media only screen and (max-width: 479px){
	.brands-page{
		.img-ico{
			width:auto;
		}
		.section{
			.block{
				float:none;
				width:100%;
				.text-holder{
					max-width:280px;
					margin:0 auto;
				}
			}
		}
		#sidebar{
			.text-holder {
				max-width:280px;
				margin:0 auto;
			}
		}
	}
}