.after {
  content: '';
  display: block;
  clear: both;
}
.row .newsletter input[type="submit"] {
  border-radius: 2px;
  float: left;
  font-size: 14px;
  height: 39px;
  margin: 0;
  min-width: 60px;
  padding: 0;
  width: 99px;
}
.row .newsletter input[type="email"] {
  width: 68%;
}
.row .newsletter h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 24px;
  margin: 0 0 5px;
}
input.input-error {
  border: 1px solid #ff0000 !important;
}
input.input-success {
  border: 1px solid #6ac00e !important;
}
select.input-error {
  border: 1px solid #ff0000 !important;
}
select.input-success {
  border: 1px solid #6ac00e !important;
}
#footer input[type="email"] {
  margin-right: 0;
}
@media only screen and (max-width: 767px) {
  .how-to-showme-link {
    display: none;
  }
}
.header-search-autocomplete {
  position: relative;
}
.header-search-autocomplete .ajax-autocomplete {
  position: absolute;
  left: 0;
  right: 2px;
  z-index: 10;
  top: 100%;
  background: #fff;
  border: 1px solid #c6c6c5;
  font-size: 15px;
  line-height: 17px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
}
.header-search-autocomplete .ajax-autocomplete ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-search-autocomplete .ajax-autocomplete ul li {
  border-top: 1px solid #c6c6c5;
}
.header-search-autocomplete .ajax-autocomplete ul li a {
  display: block;
  color: #33383e;
  padding: 14px 12px;
  text-decoration: none;
}
.header-search-autocomplete .ajax-autocomplete ul li span {
  color: #db862e;
}
.header-search-autocomplete .ajax-autocomplete ul li :hover {
  background: #ececec;
}
.header-search-autocomplete .ajax-autocomplete ul li :first-child {
  border: 0;
}
.best-items .categories-block ul li a.active-li {
  background: none repeat scroll 0 0 #ffffff;
  color: #878a8d;
  text-decoration: none;
}
.best-items .categories-block ul li a.active-li :before {
  background: url("../../images/sprite.png") no-repeat scroll -256px -350px rgba(0, 0, 0, 0);
  content: "";
  height: 15px;
  margin: -9px 0 0;
  position: absolute;
  right: 30px;
  top: 50%;
  width: 9px;
}
.best-items .categories-block ul li a.active-li :after {
  background: none repeat scroll 0 0 #ffffff;
  content: "";
  height: 100%;
  position: absolute;
  right: -1px;
  top: 0;
  width: 1px;
}
.best-items .categories-block ul li a.active-li .left-box {
  width: 36.5%;
}
.best-items .categories-block ul li a.active-li .left-box {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.best-items .categories-block ul li a.active-li .box {
  padding: 0 14px;
 /* width: 63.5%;*/
}
.best-items .categories-block ul li a.active-li .box {
  display: table-cell;
  vertical-align: middle;
}
.best-items .categories-block ul li a.active-li h2 {
  color: #e49542 !important;
}
.yellow-box-error-box-code {
  width: 800px;
  margin: 50px auto;
  align: center;
  text-align: center;
  padding: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3dc97), to(#feebbc));
  background: -moz-linear-gradient(top, #f3dc97, #feebbc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3dc97', endColorstr='#feebbc');
  border: 1px solid #e6d08c;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 2px 2px #dddddd;
}
.myprofile-messagebox {
  color: #000;
  margin: 20px auto 0 auto;
  width: 100%;
}
.inner-section-wrapper {
  margin: 2%;
#fade {
  background: none repeat scroll 0 0 #000000;
  color: #010000;
  cursor: wait;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
}
.popup_block {
  left: 50%;
  margin-left: -362px;
  margin-top: -335px;
  position: fixed;
  top: 50%;
}
