.newsletter input[type="submit"] {
    border-radius: 2px;
    float: left;
    font-size: 14px;
    height: 39px;
    margin: 0;
    min-width: 60px;
    padding: 0;
    width: 99px;
}
.newsletter input[type="email"] {
    width: 68%!important;
}
#sidebar input[type="email"] {
     width: 210px !important;
}
#sidebar input[type="submit"] {
     width: 99px !important;
}
*:before, *:after {
    box-sizing: border-box;
}
#sidebar .form-signin-heading:before {
    background: url("../../images/sprite.png") no-repeat scroll -95px -130px rgba(0, 0, 0, 0);
    content: "";
    height: 68px;
    left: -2px;
    position: absolute;
    top: 8px;
    width: 68px;
}
#sidebar .form-signin-heading {
    color: #363534;
    font-size: 36px;
    font-weight: normal;
    line-height: 40px;
    margin: 0 0 31px;
    padding: 0 0 0 87px;
    position: relative;
}
#sidebar h2 {
    font-size: 20px;
}
#sidebar h2 {
    font-size: 21px;
    font-weight: bold;
    line-height: 24px;
    margin: 0 0 5px;
}
#sidebar .form-signin-heading span {
    display: block;
    font-size: 18px;
    line-height: 20px;
    padding: 5px 0 0;
}

#footer input[type="email"]{
    margin-right: 0;
}

@media only screen and (max-width:767px) {
    .how-to-showme-link{
        display: none;
    }
}

.header-search-autocomplete{
    position: relative;
}
.header-search-autocomplete .ajax-autocomplete {
  position: absolute;
  left: 0;
  right: 2px;
  z-index: 10;
  top: 100%;
  background: #fff;
  border: 1px solid #c6c6c5;
  font-size: 15px;
  line-height: 17px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
}
.header-search-autocomplete .ajax-autocomplete ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-search-autocomplete .ajax-autocomplete ul li {
  border-top: 1px solid #c6c6c5;
}
.header-search-autocomplete .ajax-autocomplete ul li a {
  display: block;
  color: #33383e;
  padding: 14px 12px;
  text-decoration: none;
}
.header-search-autocomplete .ajax-autocomplete ul li span {
  color: #db862e;
}
.header-search-autocomplete .ajax-autocomplete ul li:hover {
  background: #ececec;
}
.header-search-autocomplete .ajax-autocomplete ul li:first-child {
  border: 0;
}