.after {
  content: '';
  display: block;
  clear: both;
}
.row .newsletter input[type="submit"] {
  border-radius: 0px;
  float: left;
  font-size: 14px;
  height: 39px;
  margin: 0 0 0 -2px;
  min-width: 60px;
  padding: 0;
  width: 99px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.row .newsletter input[type="email"] {
  width: 68%;
}
.row .newsletter h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 24px;
  margin: 0 0 5px;
}
input.input-error {
  border: 1px solid #ff0000 !important;
}
input.input-success {
  border: 1px solid #6ac00e !important;
}
select.input-error {
  border: 1px solid #ff0000 !important;
}
select.input-success {
  border: 1px solid #6ac00e !important;
}
#footer input[type="email"] {
  margin-right: 0;
}
@media only screen and (max-width: 767px) {
  .how-to-showme-link {
    display: none;
  }
}
.ui-autocomplete {
  position: absolute;
  left: 0;
  right: 2px;
  z-index: 10;
  top: 100%;
  background: #fff;
  border: 1px solid #c6c6c5;
  font-size: 15px;
  line-height: 17px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  list-style: none;
  margin: 0;
  padding: 0;
}
.ui-autocomplete li {
  border-top: 1px solid #c6c6c5;
}
.ui-autocomplete li a {
  display: block;
  color: #33383e;
  padding: 14px 12px;
  text-decoration: none;
}
.ui-autocomplete li span {
  color: #db862e;
}
.ui-autocomplete li :hover {
  background: #ececec;
}
.ui-autocomplete li :first-child {
  border: 0;
}
.best-items .categories-block ul li a.active-li {
  background: none repeat scroll 0 0 #ffffff;
  color: #878a8d;
  text-decoration: none;
}
.best-items .categories-block ul li a.active-li :before {
  background: url("../../images/sprite.png") no-repeat scroll -256px -350px rgba(0, 0, 0, 0);
  content: "";
  height: 15px;
  margin: -9px 0 0;
  position: absolute;
  right: 30px;
  top: 50%;
  width: 9px;
}
.best-items .categories-block ul li a.active-li :after {
  background: none repeat scroll 0 0 #ffffff;
  content: "";
  height: 100%;
  position: absolute;
  right: -1px;
  top: 0;
  width: 1px;
}
.best-items .categories-block ul li a.active-li .left-box {
  width: 36.5%;
}
.best-items .categories-block ul li a.active-li .left-box {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.best-items .categories-block ul li a.active-li .box {
  padding: 0 14px;
}
.best-items .categories-block ul li a.active-li .box {
  display: table-cell;
  vertical-align: middle;
}
.best-items .categories-block ul li a.active-li h2 {
  color: #e49542 !important;
}
.yellow-box-error-box-code {
  width: 800px;
  margin: 50px auto;
  align: center;
  text-align: center;
  padding: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3dc97), to(#feebbc));
  background: -moz-linear-gradient(top, #f3dc97, #feebbc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3dc97', endColorstr='#feebbc');
  border: 1px solid #e6d08c;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 2px 2px #dddddd;
}
.myprofile-messagebox {
  color: #000;
  margin: 20px auto 0 auto;
  width: 100%;
}
.countries li a.in {
  background-position: -198px -488px;
  width: '16px';
  height: '11px';
}
.countries li a.sg {
  background-position: -396px -244px;
  width: '16px';
  height: '11px';
}
.countries li a.au {
  background-position: 0 -732px;
  width: '16px';
  height: '11px';
}
.countries li a.br {
  background-position: 0 -1708px;
  width: '16px';
  height: '11px';
}
.countries li a.ca {
  background-position: -66px -183px;
  width: '16px';
  height: '11px';
}
.countries li a.us {
  background-position: -462px -305px;
  width: '16px';
  height: '11px';
}
.countries li a.at {
  background-position: 0 -671px;
  width: '16px';
  height: '11px';
}
.countries li a.be {
  background-position: 0 -1159px;
  width: '16px';
  height: '11px';
}
.countries li a.fr {
  background-position: -132px -732px;
  width: '16px';
  height: '11px';
}
.countries li a.de {
  background-position: -66px -1403px;
  width: '16px';
  height: '11px';
}
.countries li a.it {
  background-position: -198px -793px;
  width: '16px';
  height: '11px';
}
.countries li a.pl {
  background-position: -330px -976px;
  width: '16px';
  height: '11px';
}
.countries li a.es {
  background-position: -132px -183px;
  width: '16px';
  height: '11px';
}
.countries li a.se {
  background-position: -396px -183px;
  width: '16px';
  height: '11px';
}
.countries li a.ch {
  background-position: -66px -549px;
  width: '16px';
  height: '11px';
}
.inner-section-wrapper {
  margin: 2%;
}
#fade {
  background: none repeat scroll 0 0 #000000;
  color: #010000;
  cursor: wait;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
}
.popup_block {
  left: 50%;
  margin-left: -362px;
  margin-top: -335px;
  position: fixed;
  top: 50%;
}
.profile-page select#gender.form-control {
  width: 100%;
  border: 1px solid #d8d8d8;
  height: 39px;
  padding: 10px 5px 9px;
}
.saving-page div.item span:hover{
 text-decoration: underline;
}
.saving-page ul.switcher li a.active{
   color: #0077CC;
}