.after {
  content: '';
  display: block;
  clear: both;
}
.home-page .newsletter {
  margin: 0;
}
.home-page .newsletter input[type="email"] {
  float: left;
  color: #33383e;
  font-size: 12px;
  line-height: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  border: 1px solid #ccc;
  background: #ffffff;
  padding: 11px 12px 10px;
  margin: 0 4% 0 0;
  height: 39px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  width: 68% !important;
}
.home-page .newsletter input[type="email"]::-webkit-input-placeholder {
  color: #33383e;
}
.home-page .newsletter input[type="email"]:-moz-placeholder {
  color: #33383e;
}
.home-page .newsletter input[type="email"]::-moz-placeholder {
  color: #33383e;
  opacity: 1;
}
.home-page .newsletter input[type="email"]:-ms-input-placeholder {
  color: #33383e;
}
.home-page .newsletter button[type="submit"] {
  float: left;
  font-size: 14px;
  height: 39px;
  width: 99px;
  min-width: 60px;
  margin: 0 0 0 -2px;
  padding: 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.home-page .logo {
  background: url(../../images/logo-home.png) no-repeat;
  width: 125px;
  height: 56px;
}
.home-page .navigation .logo {
  margin: 24px 0 20px;
}
.home-page .section-top {
  position: relative;
  height: 690px;
}
.home-page .section-top .text-block {
  position: absolute;
  bottom: 74px;
  left: 0;
  width: 100%;
}
.home-page .section-top .block-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.home-page .section-top .block-image img {
  display: block;
  width: 100%;
  height: auto;
}
.home-page .section-top .block-image .image-holder {
  width: 1600px;
  position: relative;
  float: left;
  left: 50%;
}
.home-page .section-top .block-image .image-frame {
  width: 1600px;
  position: relative;
  float: left;
  left: -50%;
}
.home-page .section-top .ajax-autocomplete {
  position: absolute;
  left: 0;
  right: 2px;
  z-index: 10;
  top: 100%;
  background: #fff;
  border: 1px solid #c6c6c5;
  font-size: 15px;
  line-height: 17px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
}
.home-page .section-top .ajax-autocomplete ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.home-page .section-top .ajax-autocomplete ul li {
  border-top: 1px solid #c6c6c5;
}
.home-page .section-top .ajax-autocomplete ul li a {
  display: block;
  color: #33383e;
  padding: 14px 12px;
  text-decoration: none;
}
.home-page .section-top .ajax-autocomplete ul li span {
  color: #db862e;
}
.home-page .section-top .ajax-autocomplete ul li:hover {
  background: #ececec;
}
.home-page .section-top .ajax-autocomplete ul li:first-child {
  border: 0;
}
.home-page .section-top .email-form {
  max-width: 492px;
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  padding: 20px 23px 23px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 0 0 0 14px;
}
.home-page .section-top .email-form h1 {
  color: #ffffff;
  font-size: 38px;
  line-height: 40px;
  font-weight: bold;
  margin: 0 0 8px;
}
.home-page .section-top .email-form h2 {
  color: #ffffff;
  font-size: 34px;
  line-height: 36px;
  font-weight: bold;
  margin: 0 0 20px;
}
.home-page .section-top .email-form .form-control {
  color: #666;
  border-width: 1px;
  border-style: solid;
  border-color: #62645f #af8150 #62645f #62645f;
  border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
}
.home-page .section-top .email-form .btn.orange {
  border: none;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #62645f;
  border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
}
.home-page .section-top .email-form .holder {
  position: relative;
}
.home-page .section-top .email-form .holder:after {
  content: '';
  display: block;
  clear: both;
}
.home-page #header {
  background: none;
}
.home-page .top-panel {
  background: #2d2c2c;
  background: rgba(0, 0, 0, 0.7);
}
.home-page .top-panel .container {
  padding-bottom: 0;
  padding-top: 0;
}
.home-page .top-panel .slogan {
  padding: 9px 0 11px;
}
.home-page .top-panel .account-box ul {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}
.home-page .top-panel .account-box ul li {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 0;
}
.home-page .top-panel .account-box ul .active a {
  background: #e49542;
}
.home-page .top-panel .account-box ul a {
  display: block;
  padding: 11px 16px 11px;
}
.home-page .top-panel .account-box ul a:hover {
  background: #e49542;
  text-decoration: none;
}
.home-page .navigation {
  background: #353534;
  background: rgba(0, 0, 0, 0.6);
  border: none;
}
.home-page .nav-bar #nav ul {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.home-page .nav-bar #nav ul li {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 40px 0 42px;
  margin: 0 0 0 51px;
}
.home-page .nav-bar #nav ul li > a {
  padding: 0;
}
.home-page .nav-bar #nav ul li > a:hover,
.home-page .nav-bar #nav ul li > a:focus {
  background: none;
}
.home-page .email-form .form-group {
  float: left;
  width: 81.2%;
}
.home-page .email-form .form-control {
  display: block;
  width: 100% !important;
  font-size: 15px;
  line-height: 18px;
  padding: 12px 10px;
  height: 45px;
  color: #adaeb0;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #dfdfdf;
  background: #ffffff;
  border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16) inset;
}
.home-page .email-form .btn.orange {
  float: left;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-width: 1px 1px 1px 0;
  border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
  width: 18.8%;
  min-width: 60px;
  margin: 0 0 0 -2px;
  height: 45px;
  padding: 8px 6px;
}
.home-page .email-form .btn.orange .glyphicon-search {
  font-size: 15px;
  margin: 0 3px 0 0;
}
.home-page .logos-panel {
  margin: 0 0 30px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #e8e8e8;
  background: #f3f3f3;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMxJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcyJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f3f3f3 0%, #f3f3f3 31%, #ffffff 72%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(31%, #f3f3f3), color-stop(72%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #f3f3f3 0%, #f3f3f3 31%, #ffffff 72%, #ffffff 100%);
  background: -o-linear-gradient(top, #f3f3f3 0%, #f3f3f3 31%, #ffffff 72%, #ffffff 100%);
  background: -ms-linear-gradient(top, #f3f3f3 0%, #f3f3f3 31%, #ffffff 72%, #ffffff 100%);
  background: linear-gradient(to bottom, #f3f3f3 0%, #f3f3f3 31%, #ffffff 72%, #ffffff 100%);
}
.home-page .logos-panel:after {
  content: '';
  display: block;
  clear: both;
}
.home-page .logos-panel .container {
  padding-bottom: 33px;
}
.home-page .shops {
  margin: -24px 0 0;
  padding: 0;
  text-align: center;
  overflow: visible;
}
.home-page .shops:after {
  content: '';
  display: block;
  clear: both;
}
.home-page .shops li {
  float: none;
  display: inline-block;
  vertical-align: top;
  margin: 0 12px;
}
.home-page .shops li img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.home-page .shops li a {
  display: block;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.home-page .shops li a:hover {
  margin: -10px 0 0;
}
.home-page .best-items {
  margin-bottom: 39px;
}
.home-page .best-items .heading {
  border-width: 1px 1px 0;
  border-style: solid;
  border-color: #eaeaea;
  border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  padding: 19px 28px 19px;
  background: #fafafa;
}
.home-page .best-items .heading h1 {
  font-weight: bold;
  font-size: 21px;
  line-height: 22px;
  margin: 0;
}
.home-page .best-items .columns {
  padding: 0 0 40px;
  overflow: hidden;
}
.home-page .best-items .all {
  position: absolute;
  right: -1px;
  top: 100%;
  background: #ffffff;
  display: block;
  padding: 5px 10px;
  min-width: 132px;
  text-align: center;
  color: #0077cc;
  font-size: 13px;
  line-height: 18px;
  border-width: 0 1px 1px;
  margin: 1px 0 0;
  border-style: solid;
  border-color: #e4e4e4;
}
.home-page .best-items .all:hover {
  color: #363535;
}
.home-page .best-items .categories-block {
  float: left;
  width: 33.1%;
  color: #878a8d;
  font-size: 13px;
  line-height: 18px;
  background: #f9f9f9;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 0 2px;
  -webkit-border-radius: 0 0 0 2px;
  border-style: solid;
  border-color: #e4e4e4 #cecece #e4e4e4 #e4e4e4;
  position: relative;
}
.home-page .best-items .categories-block ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.home-page .best-items .categories-block ul li img {
  display: block;
  margin: 0 auto;
}
.home-page .best-items .categories-block ul li a {
  border-top: 1px solid #e4e4e4;
  padding: 6px 28px;
  position: relative;
  height: 83px;
  display: table;
  width: 100%;
}
.home-page .best-items .categories-block ul li a:hover {
  background: #ffffff;
  color: #878a8d;
  text-decoration: none;
}
.home-page .best-items .categories-block ul li a:hover h2 {
  color: #e49542;
}
.home-page .best-items .categories-block ul li a:hover:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 30px;
  background: url(../../images/sprite.png) no-repeat -256px -350px;
  width: 9px;
  height: 15px;
  margin: -9px 0 0;
}
.home-page .best-items .categories-block ul li a:hover:after {
  content: '';
  position: absolute;
  right: -1px;
  top: 0;
  height: 100%;
  width: 1px;
  background: #fff;
}
.home-page .best-items .categories-block .left-box {
  width: 21.5%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.home-page .best-items .categories-block .box {
  display: table-cell;
  vertical-align: middle;
  width: 79.5%;
  padding: 0 0 0 32px;
}
.home-page .best-items .categories-block .box h2 {
  color: #33383e;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}
.home-page .discount-label {
  padding: 3px;
  color: #e49542;
  border-color: #e49542;
  max-width: 70px;
  margin: 0 auto;
}
.home-page .vouchers {
  float: left;
  width: 66.9%;
  background: #ffffff;
  padding: 0 26px;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #eaeaea;
  position: relative;
}
.home-page .vouchers ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.home-page .vouchers ul li:after {
  content: '';
  display: block;
  clear: both;
}
.home-page .vouchers ul li:first-child a {
  border-color: #ffffff;
}
.home-page .vouchers ul li:first-child a:hover {
  border-color: #e49542;
}
.home-page .vouchers ul a {
  float: left;
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: block;
  padding: 17px 23px 20px;
  height: 83px;
  color: #878a8d;
  position: relative;
}
.home-page .vouchers ul a:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 24px;
  background: url(../../images/sprite.png) no-repeat -254px -388px;
  width: 9px;
  height: 15px;
  margin: -8px 0 0;
}
.home-page .vouchers ul a:hover {
  text-decoration: none;
  background: #fefdfb;
  border-color: #e49542;
  z-index: 2;
}
.home-page .vouchers ul a:hover:before {
  background-position: -256px -350px;
}
.home-page .vouchers ul a:hover:after {
  content: '';
  position: absolute;
  background: #e49542;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
}
.home-page .vouchers ul .logo-box {
  float: left;
  width: 16%;
  margin: 3px 0 0 0;
  text-align: center;
}
.home-page .vouchers ul .logo-box img {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.home-page .vouchers ul .box {
  overflow: hidden;
}
.home-page .vouchers ul h2 {
  color: #0077cc;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  margin: 0 0 1px;
}
.home-page .vouchers ul h2 span {
  display: inline-block;
  vertical-align: middle;
}
.home-page .vouchers ul h2 .exclusive .glyphicon-star {
  vertical-align: top;
}
.home-page .vouchers ul h2 .exclusive {
  font-size: 12px;
  vertical-align: middle;
}
.home-page .vouchers ul p {
  margin: 0;
}
.home-page .our-shops {
  border-top: 1px solid #d9d9d9;
  padding: 35px 15px 47px;
  font-size: 14px;
  line-height: 24px;
}
.home-page .our-shops h2 {
  font-size: 33px;
  line-height: 36px;
  font-weight: bold;
  margin: 0 0 26px;
}
.home-page .our-shops ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.home-page .our-shops ul a {
  color: #0077cc;
}
.home-page .our-shops ul a:hover {
  color: #363535;
}
.home-page .area {
  width: 100%;
  background: #ffffff;
  border-width: 1px 0;
  border-style: solid;
  border-color: #eaeaea;
  margin: 0 0 55px;
}
.home-page .logos-section {
  padding: 52px 15px 60px;
  color: #202020;
  font-size: 21px;
  line-height: 22px;
  text-align: center;
}
.home-page .logos-section span {
  display: inline-block;
  vertical-align: middle;
  margin: 0 40px 0 0;
}
.home-page .logos-section ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}
.home-page .logos-section ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 22px;
}
.home-page .logos-section ul img {
  display: inline-block;
  vertical-align: middle;
}
.home-page .section {
  margin: 0 auto 5px;
}
.home-page .tabset {
  background: #fafafa;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  border-bottom: 1px solid #eaeaea;
  border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
}
.home-page .tabset:after {
  content: '';
  display: block;
  clear: both;
}
.home-page .tabset li {
  float: left;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #eaeaea;
}
.home-page .tabset li a {
  display: block;
  padding: 21px 29px;
  color: #a9abac;
  position: relative;
}
.home-page .tabset li a:hover {
  color: #333;
  text-decoration: none;
}
.home-page .tabset .active a {
  color: #333;
  background: #ffffff;
  margin: 0 0 -1px;
  padding-bottom: 22px;
}
.home-page .tab-content {
  color: #878a8d;
  padding: 10px 28px 25px;
  font-size: 14px;
  line-height: 24px;
}
.home-page .tab-content .link {
  color: #0077cc;
  text-decoration: underline;
}
.home-page .tab-content .link:hover {
  color: #363535;
}
.home-page .tab-content h3 {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
}
.home-page .tab-content p {
  margin: 0 0 24px;
}
@media only screen and (min-width: 1600px) {
  .home-page .section-top .block-image .image-holder,
  .home-page .section-top .block-image .image-frame {
    width: 100%;
    position: static;
  }
}
@media only screen and (max-width: 1199px) {
  .home-page .section-top {
    height: 570px;
  }
  .home-page .navigation .logo {
    margin: 5px 0 0;
  }
  .home-page .nav-bar #nav ul li {
    padding: 24px 0 25px;
  }
  .home-page .shops li {
    width: 10%;
    margin: 0;
  }
  .home-page .vouchers ul .logo-box {
    width: 16%;
  }
  .home-page .tabset {
    font-size: 13px;
  }
  .home-page .tabset li a {
    padding: 21px 20px;
  }
  .home-page .tab-content {
    padding: 10px 20px 25px;
  }
  .home-page .our-shops h2 {
    font-size: 31px;
  }
  .home-page .logos-section ul li {
    margin: 0 10px;
  }
  .home-page .best-items .categories-block .box {
    width: 70.5%;
    padding: 0 0 0 10px;
  }
  .home-page .best-items .categories-block .box h2 {
    font-size: 16px;
    line-height: 20px;
  }
  .home-page .best-items .categories-block .left-box {
    width: 29.5%;
  }
}
@media only screen and (max-width: 979px) {
  .home-page .logos-panel {
    margin: 0 0 15px;
  }
  .home-page .logos-panel .container {
    padding-bottom: 16px;
  }
  .home-page .shops {
    margin: -17px 0 0;
  }
  .home-page .logos-section {
    padding: 21px 10px 25px;
  }
  .home-page .logos-section span {
    display: block;
    margin: 0 0 10px;
  }
  .home-page .logos-section ul {
    margin: 0 0 -10px;
    overflow: hidden;
  }
  .home-page .logos-section ul li {
    margin: 0 5px 10px;
  }
  .home-page .best-items {
    padding: 0 8px;
  }
  .home-page .best-items .categories-block {
    font-size: 11px;
    line-height: 14px;
  }
  .home-page .best-items .categories-block ul li a {
    padding: 6px;
  }
  .home-page .best-items .categories-block ul li a:hover {
    padding-right: 18px;
  }
  .home-page .best-items .categories-block ul li a:hover:before {
    right: 6px;
  }
  .home-page .best-items .categories-block ul li a:hover .box {
    padding: 0 0 0 10px;
  }
  .home-page .best-items .categories-block .left-box {
    width: 29.5%;
  }
  .home-page .vouchers {
    font-size: 11px;
    padding: 0 6px;
  }
  .home-page .vouchers ul .logo-box img {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
  .home-page .our-shops h2 {
    font-size: 24px;
  }
  .home-page .tabset {
    border: none;
    margin: 0 0 0 -1px;
    overflow: hidden;
  }
  .home-page .tabset li {
    width: 50%;
    border-width: 0 0 1px 1px;
  }
  .home-page .tabset .active a {
    margin: 0;
    padding-bottom: 21px;
  }
  .home-page .tab-content {
    font-size: 13px;
    line-height: 18px;
  }
  .home-page .tab-content h3 {
    font-size: 13px;
  }
}
@media only screen and (max-width: 767px) {
  .home-page .navigation .logo {
    margin: 0 auto;
  }
  .home-page .nav-bar #nav ul li {
    padding: 0;
    margin: 0;
  }
  .home-page .nav-bar #nav ul li > a {
    padding: 15px 20px;
  }
  .home-page .nav-bar #nav ul li > a:hover,
  .home-page .nav-bar #nav ul li > a:focus {
    background: #353534;
  }
  .home-page .section-top .email-form {
    margin: 0 auto;
    padding: 15px 10px;
    text-align: center;
  }
  .home-page .section-top .email-form h1 {
    font-size: 22px;
    line-height: 24px;
  }
  .home-page .section-top .email-form h2 {
    font-size: 20px;
    line-height: 22px;
    margin: 0 0 12px;
  }
  .home-page .section-top .email-form .form-control {
    border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  .home-page .section-top .email-form .holder {
    border: none;
  }
  .home-page .section-top .email-form .btn.orange {
    border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  .home-page .email-form .form-group {
    float: none;
    width: 100%;
    margin: 0 0 10px;
  }
  .home-page .email-form .form-control {
    border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  .home-page .email-form .btn.orange {
    width: 100%;
    float: none;
    display: block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  .home-page .logos-panel {
    margin: 0;
  }
  .home-page .logos-panel .container {
    padding: 20px 10px;
  }
  .home-page .shops {
    margin: 0;
  }
  .home-page .shops li {
    width: 30.3%;
    margin: 0 1% 15px;
  }
  .home-page .shops li a:hover {
    margin: 0;
  }
  .home-page .best-items .heading {
    display: none;
  }
  .home-page .best-items .categories-block {
    display: none;
  }
  .home-page .best-items .vouchers {
    float: none;
    width: 100%;
  }
  .home-page .best-items .vouchers ul h2 {
    font-size: 16px;
  }
  .home-page .best-items .vouchers ul a {
    height: auto;
    padding: 17px 20px 20px 12px;
  }
  .home-page .best-items .vouchers ul a:before {
    right: 8px;
  }
  .home-page .our-shops h2 {
    font-size: 18px;
    line-height: 22px;
  }
  .home-page .logos-section ul li {
    width: 30%;
    margin: 0 1% 2%;
    text-align: center;
  }
  .home-page .logos-section ul img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .home-page .tab-content p {
    margin: 0 0 14px;
  }
  .home-page .tabset li {
    float: none;
    display: block;
    width: 100%;
    border-width: 0 0 1px;
  }
  .home-page .tabset li a {
    padding: 12px 15px;
  }
  .home-page .tabset .active a {
    padding: 12px 15px;
  }
}
