.after {
  content: '';
  display: block;
  clear: both;
}
.register-box {
  background: #fff;
  border: 1px solid #e4e4e4;
  padding: 62px 62px 30px;
}
.register-box .image {
  position: relative;
  margin: 0 0 20px;
}
.register-box .image .text {
  background: rgba(0, 0, 0, 0.4);
  font-size: 24px;
  line-height: 26px;
  color: #fff;
  font-weight: bold;
  padding: 13px 13px;
  position: absolute;
  left: 11px;
  top: 14px;
  max-width: 270px;
}
.register-box .image img {
  width: 100%;
  height: auto;
  vertical-align: top;
  border-radius: 2px;
}
.register-box label {
  display: block;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 9px;
  font-weight: normal;
}
.register-box .form-group {
  margin: 0 0 21px;
}
.register-box .form-group:after {
  content: '';
  display: block;
  clear: both;
}
.register-box textarea.form-control,
.register-box input.form-control {
  background: #fcfcfc;
  border: 1px solid #d8d8d8;
  width: 100%;
  height: 39px;
  padding: 10px 5px 9px;
}
.register-box select.form-control {
  width: 100%;
  background: #f5f5f5;
  border: 1px solid #d8d8d8;
  height: 39px;
  padding: 10px 5px 9px;
}
.register-box textarea.form-control {
  height: auto;
}
.register-box .form-group.alt {
  border-top: 1px solid #eaeaea;
  padding: 33px 0 0;
  margin: 15px 0 20px;
}
.register-box .btn {
  min-width: 0;
  height: 40px;
  padding: 10px 25px 9px;
}
#main {
  padding-bottom: 43px;
}
#footer {
  text-shadow: none;
  background: none;
  font-size: 15px;
  max-width: 1170px;
  margin: 0 auto;
  line-height: 18px;
}
#footer .email-form {
  float: left;
  width: 35.2%;
  padding: 10px 20px;
}
#footer .email-form .form-control {
  height: 49px;
  padding: 14px 18px;
}
#footer .email-form .form-group {
  width: 74.2%;
}
#footer .email-form .btn.orange {
  width: 25.8%;
  height: 49px;
}
#footer .social {
  float: left;
  padding: 10px 0 0 59px;
  width: 44%;
}
#footer .social ul {
  padding: 0;
  margin: 0 -65px 0 0;
  list-style: none;
}
#footer .social ul li {
  float: left;
  margin: 0 0 0 65px;
}
#footer .social ul li:first-child {
  margin: 0;
}
#footer .social ul a {
  position: relative;
  display: block;
  padding: 0 0 0 70px;
  color: #878a8d;
}
#footer .social ul a:hover {
  text-decoration: none;
}
#footer .social ul .facebook:before,
#footer .social ul .twitter:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url(../../images/sprite.png) no-repeat -2px -371px;
  width: 48px;
  height: 48px;
}
#footer .social ul .twitter:before {
  background-position: -76px -371px;
}
#footer .social ul .box {
  overflow: hidden;
  padding: 4px 0 0;
}
#footer .social ul h2 {
  font-size: 21px;
  line-height: 24px;
  margin: 0;
}
#footer .bottom-nav {
  padding: 41px 5px 54px;
  text-align: left;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #e4e4e4;
}
#footer .bottom-nav h3 {
  margin: 0 0 11px;
}
#footer .bottom-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 13px;
  line-height: 24px;
}
#footer .bottom-nav .ico {
  line-height: 24px;
  text-align: center;
  padding-top: 6px;
}
#footer .bottom-nav .ico .num {
  display: block;
  font-size: 21px;
  line-height: 24px;
  margin: 0 0 3px;
}
#footer .bottom-nav .ico .add-text {
  display: block;
  max-width: 82px;
  margin: 0;
}
#footer .bottom-nav .ico-shop {
  display: block;
  margin: 0 0 16px;
  width: 82px;
  height: 80px;
  border: 3px solid #0077cc;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  position: relative;
}
#footer .bottom-nav .ico-shop:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: url(../../images/sprite.png) no-repeat -160px -383px;
  width: 26px;
  height: 25px;
  margin: -13px 0 0 -12px;
}
#footer .add-block {
  padding: 40px 5px;
}
#footer .add-block .benefits {
  padding: 0;
  margin: 0 0 40px;
  list-style: none;
}
#footer .add-block .benefits li {
  width: 20%;
  margin: 0 1%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
#footer .title {
  font-size: 24px;
  line-height: 30px;
  color: #0077cc;
  font-weight: bold;
  text-align: center;
  margin: 0 0 44px;
}
#footer .title .glyphicon-ok {
  font-size: 28px;
  vertical-align: top;
  margin: -2px 11px 0 0;
}
#footer .language {
  padding: 0;
  margin: 0 0 27px;
  list-style: none;
}
#footer .language li {
  display: inline-block;
  vertical-align: top;
  margin: 0 3px;
}
#footer .language a {
  display: block;
  background: url(../../images/sprite.png) no-repeat -3px -455px;
  width: 24px;
  height: 16px;
  text-indent: -9999px;
  overflow: hidden;
}
#footer .language .ico-2 {
  background-position: -37px -455px;
}
#footer .language .ico-3 {
  background-position: -71px -455px;
}
#footer .language .ico-4 {
  background-position: -106px -455px;
}
#footer .language .ico-5 {
  background-position: -139px -455px;
}
#footer .language .ico-6 {
  background-position: -173px -455px;
}
#footer .language .ico-7 {
  background-position: -207px -455px;
}
#footer .language .ico-8 {
  background-position: -241px -455px;
}
#footer .logo {
  display: block;
  float: none;
  background: url(../../images/logo-footer.png) no-repeat;
  width: 89px;
  height: 40px;
  margin: 0 auto 21px;
}
#footer .copy {
  font-size: 11px;
  line-height: 20px;
}
@media only screen and (min-width: 1600px) {
  .section-top .block-image .image-holder,
  .section-top .block-image .image-frame {
    width: 100%;
    position: static;
  }
}
@media only screen and (max-width: 1199px) {
  .section-top {
    height: 570px;
  }
  .navigation .logo {
    margin: 8px 0 0;
  }
  .nav-bar #nav ul li {
    padding: 0;
  }
  #footer .email-form {
    padding: 0 10px;
    width: 40%;
  }
  #footer .social {
    padding: 6px 0 0;
    width: 40%;
  }
  #footer .social ul li {
    margin: 0 0 0 26px;
  }
  #footer .social ul a {
    padding: 0 0 0 45px;
  }
  #footer .social ul .facebook:before,
  #footer .social ul .twitter:before {
    background: url(../../images/sprite.png) no-repeat -297px -372px;
    width: 35px;
    height: 35px;
    top: 2px;
  }
  #footer .social ul .facebook .twitter:before,
  #footer .social ul .twitter .twitter:before {
    background-position: -357px -373px;
  }
  #footer .social ul .facebook .box,
  #footer .social ul .twitter .box {
    padding: 0;
  }
}
@media only screen and (max-width: 979px) {
  .register-box {
    padding: 22px 22px 20px;
  }
  #footer {
    font-size: 12px;
  }
  #footer .email-form {
    width: 50%;
    padding: 0 10px 0 0;
  }
  #footer .social {
    width: 50%;
    margin: 0;
  }
  #footer .bottom-nav {
    padding: 21px 15px 27px;
    font-size: 12px;
  }
  #footer .bottom-nav nav {
    padding: 0 15px;
  }
  #footer .bottom-nav ul {
    font-size: 12px;
  }
  #footer .add-block {
    padding: 25px 10px;
  }
  #footer .title {
    margin: 0 0 27px;
  }
}
@media only screen and (max-width: 767px) {
  .navigation .logo {
    margin: 0 auto;
  }
  .nav-bar #nav ul {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .nav-bar #nav ul li {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
  }
  .nav-bar #nav ul li > a {
    padding: 15px 20px;
  }
  .nav-bar #nav ul li > a:hover,
  .nav-bar #nav ul li > a:focus {
    background: #353534;
  }
  #footer .email-form {
    float: none;
    width: 100%;
    padding: 0;
  }
  #footer .email-form .form-group {
    width: 100%;
    float: none;
    display: block;
  }
  #footer .email-form .btn.orange {
    width: 100%;
  }
  #footer .social {
    padding: 10px 0 0;
    float: none;
    width: 100%;
  }
  #footer .social ul a {
    padding: 0 0 0 40px;
  }
  #footer .social ul li {
    margin: 0;
    padding: 0 5px 0 0;
    width: 50%;
  }
  #footer .social ul li:first-child {
    margin: 0 0 10px;
  }
  #footer .bottom-nav nav {
    margin: 0 0 15px;
  }
  #footer .title {
    font-size: 18px;
    margin: 0 0 12px;
  }
  #footer .title .glyphicon-ok {
    font-size: 21px;
    margin: 2px 6px 0 0;
  }
  #footer .add-block .benefits li {
    display: block;
    width: 100%;
    margin: 0 0 10px;
    text-align: center;
  }
  .register-box .image .text {
    position: static;
    background: #000;
    font-size: 16px;
    line-height: 18px;
    max-width: 100%;
    margin: -1px 0 0;
  }
  .register-box .form-group.alt {
    padding: 20px 0 0;
    margin: 0;
  }
}
@media only screen and (max-width: 479px) {
  #footer .social ul {
    font-size: 11px;
  }
  #footer .social ul h2 {
    font-size: 17px;
    line-height: 22px;
  }
  #footer .social ul li {
    width: 44%;
  }
}
