
#footer-cookie-info{
  background-color: #E68E20;
  margin: 4px;
  text-align: center;
  color: #FFF;
  padding: 5px 0px;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 12px;
  a.blue-label{
    background-color: #3C96D0;
    border-radius: 2px;
    color: #FFFFFF;
    padding: 2px 8px;
    cursor: pointer;
  }
  a.txt-undrline{
    color: #FFF;
    border-bottom: 1.5px solid #fff;
  }
  a.txt-undrline:hover{
    cursor: pointer;
    text-decoration: none;
  }
}