*{
    margin: 0;
    padding: 0;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    color: #808080;
}

img {
    border:0 none;
}
#wrapper{
    width: 730px;
    float: left;
    background: #fff;
    height: auto;
    padding: 10px;
    border: 1px solid #deddcc;
}

#wrapper .title{
    padding: 0 0 10px;
    font-family: arial;
    font-size: 13px;
    border-bottom: 5px solid #fff;
    font-weight: bold;
    width: 100%;
    color: #BD5181;
}
#wrapper .title i{
    color: #ababab;
    font-size: 11px;
}
.coupon{
    float: left;
    list-style: none;
    width: 235px;
}

.coupon li {
    float: left;
    padding: 0 0 8px;
}

.coupon li .coupon-content{
    float: left;
}

.coupon li .coupon-content .content{
    line-height: 1;
    font-size: 11px;
    float: left;
}
.coupon li .coupon-content .content .number{
    color: #BD5181;
    float: left;
    font-weight: bold;
}
.coupon li .coupon-content .content a{
    color: #808080;
    text-decoration: none;
}
