@import "custom-variables.less";
@import "custom-mixins.less";
@submitButtonWidth : '99px';
.newsletter {
    input[type="submit"] {
        border-radius: @input-border-radius;
        float: left;
        font-size: 14px;
        height: 39px;
        margin: 0;
        min-width: 60px;
        padding: 0;
        width: @submitButtonWidth;
    }
    input[type="email"] {
       width: 68%!important;
    }
    h2 {
        font-size: 21px;
        font-weight: bold;
        line-height: 24px;
        margin: 0 0 5px;
    }
}
#sidebar {
     input[type="email"] {
         width: 210px !important;
     }
     input[type="submit"] {
         width: @submitButtonWidth !important;
     }
   .form-signin-heading {
        color: #363534;
        font-size: 36px;
        font-weight: normal;
        line-height: 40px;
        margin: 0 0 31px;
        padding: 0 0 0 87px;
        position: relative;
		:before {
			background: url("../../images/sprite.png") no-repeat scroll -95px -130px rgba(0, 0, 0, 0);
			content: "";
			height: 68px;
			left: -2px;
			position: absolute;
			top: 8px;
			width: 68px;
		}
		span {
			display: block;
			font-size: 18px;
			line-height: 20px;
			padding: 5px 0 0;
		}
	}
    h2 {
        font-size: 20px;
    }
	
}
@redBorder: '1px solid red';
@greenBorder: 1px solid #6AC00E;
form{
	.input-error{
		border:@redBorder;
	}
	.input-success{
		border:@greenBorder;
	}
}
#footer{
    input[type="email"]{
        margin-right: 0;
	}
}
@media only screen and (max-width:767px) {
    .how-to-showme-link{
        display: none;
    }
}
.header-search-autocomplete{
    position: relative;
	.ajax-autocomplete {
		  position: absolute;
		  left: 0;
		  right: 2px;
		  z-index: 10;
		  top: 100%;
		  background: #fff;
		  border: 1px solid #c6c6c5;
		  font-size: 15px;
		  line-height: 17px;
		  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
		  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
		  ul {
			  list-style: none;
			  margin: 0;
			  padding: 0;
			  li {
				border-top: 1px solid #c6c6c5;
				a {
				  display: block;
				  color: #33383e;
				  padding: 14px 12px;
				  text-decoration: none;
				}
				span {
					color: #db862e;
				}
				:hover {
					background: #ececec;
				}
				:first-child {
					border: 0;
				}
			}
		}
	}
}
.best-items {
	.categories-block ul li a.active-li {
		background: none repeat scroll 0 0 @white-color;
		color: @link-color;
		text-decoration: none;
		:before {
		    background: url("/public/images/sprite.png") no-repeat scroll -256px -350px rgba(0, 0, 0, 0);
			content: "";
			height: 15px;
			margin: -9px 0 0;
			position: absolute;
			right: 30px;
			top: 50%;
			width: 9px;
		}
		:after {
			background: none repeat scroll 0 0 @white-color;
			content: "";
			height: 100%;
			position: absolute;
			right: -1px;
			top: 0;
			width: 1px;
		}
		.left-box {
			width: 36.5%;
		}
		.left-box {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}
		.box {
			padding: 0 14px;
			width: 63.5%;
		}
		.box {
			display: table-cell;
			vertical-align: middle;
		}
		h2 {
			color: @orange-color !important;
		}
	}
}
.yellow-box-error-box-code {
	width: 800px;
	margin:50px auto;
	align:center;
	text-align:center;
	padding:15px;
	background:-webkit-gradient(linear,left top,left bottom,from(#f3dc97),to(#feebbc));
	background:-moz-linear-gradient(top,#f3dc97,#feebbc);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3dc97',endColorstr='#feebbc');
	border:1px solid #e6d08c;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	box-shadow:1px 2px 2px #ddd
}
.myprofile-messagebox {
    color: #000;
    margin: 20px auto 0 auto; 
    width: 100%
}

@flagWidth : '16px';
@flagHeight : '11px';
.countries{
    li{
            a.in{
                background-position: -198px -488px;
                width: @flagWidth;
                height: @flagHeight;
            }
            a.sg{
                background-position: -396px -244px;
                width: @flagWidth;
                height: @flagHeight;
            }
            a.au{
                background-position: 0 -732px;
                width: @flagWidth;
                height: @flagHeight;
            }
            a.br{
                background-position: 0 -1708px;
                width: @flagWidth;
                height: @flagHeight;
            }
            a.ca{
                background-position: -66px -183px;
                width: @flagWidth;
                height: @flagHeight;
            }
            a.us{
                background-position: -462px -305px;
                width: @flagWidth;
                height: @flagHeight;
            }
            a.at{
                background-position: 0 -671px;
                width: @flagWidth;
                height: @flagHeight;
            }
            a.be{
                background-position: 0 -1159px;
                width: @flagWidth;
                height: @flagHeight;
            }
            a.fr{
                background-position: -132px -732px;
                width: @flagWidth;
                height: @flagHeight;
            }
            a.de{
                background-position: -66px -1403px;
                width: @flagWidth;
                height: @flagHeight;
            }
            a.it{
                background-position: -198px -793px;
                width: @flagWidth;
                height: @flagHeight;
            }
            a.pl{
                background-position: -330px -976px;
                width: @flagWidth;
                height: @flagHeight;
            }
            a.es{
                background-position: -132px -183px;
                width: @flagWidth;
                height: @flagHeight;
            }
            a.se{
                background-position: -396px -183px;
                width: @flagWidth;
                height: @flagHeight;
            }
            a.ch{
                background-position: -66px -549px;
                width: @flagWidth;
                height: @flagHeight;
            }
    }
}
