# Noindex on static files which are not allowed to be cached.
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.kortingscode.nl$
RewriteRule ^robots.txt$ public/robots.txt [NC,L]

RewriteCond %{HTTP_HOST} ^www.flipit.com$
RewriteRule ^(.*)/sitemaps/(.*)$ public/$1/sitemaps/$2 [L]

RewriteCond %{HTTP_HOST} ^www.flipit.com$
RewriteRule ^robots.txt$ public/flipit/robots.txt [NC,L]

RewriteRule ^([a-z]{2})(\/)robots.txt$ /public/$1/robots.txt [NC,L]
RewriteRule ^([a-z]{2})(\/)index(.*)$ /$1 [L,R=301,NC]
RewriteRule ^index(.*)$ / [L,R=301,NC]

RewriteCond %{HTTP_HOST} ^www.flipit.com$
RewriteRule ^sitemaps$ public/flipit/robots.txt [NC,L]

RewriteRule ^(.*)/$ /$1 [L,R=301]

# wp redirects
RewriteRule ^nieuws/?$ http://www.kortingscode.nl/bespaarwijzer? [R=301,L]
RewriteRule ^nieuws/mannen-shoppen-vaker-online-onder-werktijd-dan-vrouwen/?$ http://www.kortingscode.nl/bespaarwijzer/mannen-shoppen-vaker-online-onder-werktijd-dan-vrouwen? [R=301,L]
RewriteRule ^nieuws/genomineerd-voor-website-van-het-jaar/?$ http://www.kortingscode.nl/bespaarwijzer/genomineerd-voor-website-van-het-jaar? [R=301,L]
RewriteRule ^nieuws/kortingscode-nl-gaat-internationaal/?$ http://www.kortingscode.nl/bespaarwijzer/kortingscode-nl-gaat-internationaal? [R=301,L]
RewriteRule ^nieuws/klanten-verlaten-de-winkel-voor-korting/?$ http://www.kortingscode.nl/bespaarwijzer/klanten-verlaten-de-winkel-voor-korting? [R=301,L]
RewriteRule ^nieuws/akortingscodes-populair-onder-miljonairs/?$ http://www.kortingscode.nl/bespaarwijzer/akortingscodes-populair-onder-miljonairs? [R=301,L]
RewriteRule ^nieuws/kortingscode-nl-winnaar-van-de-affiliate-awards-2013/?$ http://www.kortingscode.nl/bespaarwijzer/kortingscode-nl-winnaar-van-de-affiliate-awards-2013? [R=301,L]
RewriteRule ^nieuws/kortingscodes-meer-effect-dan-een-zoen/?$ http://www.kortingscode.nl/bespaarwijzer/kortingscodes-meer-effect-dan-een-zoen? [R=301,L]
RewriteRule ^nieuws/stijgende-trend-internet-aankopen/?$ http://www.kortingscode.nl/bespaarwijzer/stijgende-trend-internet-aankopen? [R=301,L]
RewriteRule ^nieuws/lancering-kortingscode-nl/?$ http://www.kortingscode.nl/bespaarwijzer/lancering-kortingscode-nl? [R=301,L]
RewriteRule ^nieuws/author/admin/?$ http://www.kortingscode.nl/bespaarwijzer? [R=301,L]
RewriteRule ^nieuws/tag/online-shoppen/?$ http://www.kortingscode.nl/bespaarwijzer? [R=301,L]
RewriteRule ^nieuws/tag/kortingscode-nl/?$ http://www.kortingscode.nl/bespaarwijzer? [R=301,L]
RewriteRule ^nieuws/tag/affiliate/?$ http://www.kortingscode.nl/bespaarwijzer? [R=301,L]
RewriteRule ^nieuws/tag/award/?$ http://www.kortingscode.nl/bespaarwijzer? [R=301,L]
RewriteRule ^nieuws/tag/kortingscodes/?$ http://www.kortingscode.nl/bespaarwijzer? [R=301,L]
RewriteRule ^nieuws/tag/onderzoek/?$ http://www.kortingscode.nl/bespaarwijzer? [R=301,L]
RewriteRule ^nieuws/tag/trends/?$ http://www.kortingscode.nl/bespaarwijzer? [R=301,L]
RewriteRule ^nieuws/tag/website/?$ http://www.kortingscode.nl/bespaarwijzer? [R=301,L]
RewriteRule ^nieuws/category/research/?$ http://www.kortingscode.nl/bespaarwijzer? [R=301,L]
RewriteRule ^nieuws/category/nieuws/?$ http://www.kortingscode.nl/bespaarwijzer? [R=301,L]
RewriteRule ^nieuws/feed/?$ http://www.kortingscode.nl/bespaarwijzer? [R=301,L]
RewriteRule ^nieuws/comments/feed/?$ http://www.kortingscode.nl/bespaarwijzer? [R=301,L]

# Start with the app
RewriteRule ^.*$ public/index.php [NC,L]


# ----------------------------------------------------------------------
# Gzip compression
# ----------------------------------------------------------------------

<IfModule mod_deflate.c>

  <IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
      SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
      RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
    </IfModule>
  </IfModule>

  # Compress all output labeled with one of the following MIME-types
  # (for Apache versions below 2.3.7, you don't need to enable `mod_filter`
  # and can remove the `<IfModule mod_filter.c>` and `</IfModule>` lines as
  # `AddOutputFilterByType` is still in the core directives)
  <IfModule mod_filter.c>
    AddOutputFilterByType DEFLATE application/atom+xml \
                                  application/javascript \
                                  application/json \
                                  application/rss+xml \
                                  application/vnd.ms-fontobject \
                                  application/x-font-ttf \
                                  application/xhtml+xml \
                                  application/xml \
                                  font/opentype \
                                  image/svg+xml \
                                  image/x-icon \
                                  text/css \
                                  text/html \
                                  text/plain \
                                  text/x-component \
                                  text/xml
  </IfModule>

</IfModule>
