{
   "swagger":"2.0",
   "info":{
      "description":"Welcome to Flipit API store",
      "version":"1.0.0",
      "title":"Flipit API"
   },
   "host":"api.flipit.lcl",
   "basePath":"/v1",
   "tags":[
      {
         "name":"shop",
         "description":"Everything about shops",
         "externalDocs":{
            "description":"Find out more",
            "url":"http://test.io"
         }
      }
   ],
   "schemes":[
      "http"
   ],
   "paths":{
      "/shop":{
         "post":{
            "tags":[
               "shop"
            ],
            "summary":"Add a new shop",
            "description":"",
            "operationId":"addshop",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"body",
                  "name":"body",
                  "description":"Shop object that needs to be insert",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/shop"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Request was successful"
               },
               "405":{
                  "description":"Invalid input"
               }
            }
         }
      },
      
      "/shop/{shopId}":{
         "put":{
            "tags":[
               "shop"
            ],
            "summary":"Update an existing shop",
            "description":"",
            "operationId":"updateshop",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "in":"body",
                  "name":"body",
                  "description":"Shop object that needs to be update",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/shop"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Request was successful"
               },
               "400":{
                  "description":"Invalid shop_id supplied"
               },
               "404":{
                  "description":"Shop not found"
               },
               "405":{
                  "description":"Invalid input"
               }
            }
         },
         "get":{
            "tags":[
               "shop"
            ],
            "summary":"Find shop by ID",
            "description":"Returns a single shop",
            "operationId":"getshopById",
            "produces":[
               "application/json"
            ],
            "responses":{
               "200":{
                  "description":"Request was successful"
               },
               "400":{
                  "description":"Invalid shop_id supplied"
               },
               "404":{
                  "description":"Shop not found"
               }
            }
         },
         "delete":{
            "tags":[
               "shop"
            ],
            "summary":"Deletes a shop",
            "description":"",
            "operationId":"deleteshop",
            "produces":[
               "application/json"
            ],
            "responses":{
               "200":{
                  "description":"Request was successful"
               },
               "400":{
                  "description":"Invalid shop_id supplied"
               },
               "404":{
                  "description":"Shop not found"
               }
            }
         }
      }
     
   },
   "definitions":{
      "shop":{
         "type":"object",
         "required":[
            "name",
            "navigationUrl"
         ],
         "properties":{
            "name":{
               "type":"string",
               "example":"doggie"
            },
            "navigationUrl":{
               "type":"string",
               "example":"http://flipit.com/in/ebay"
            },
            "overriteTitle":{
               "type":"string",
               "example":""
            },
            "metaDescritption":{
               "type":"string",
               "example":""
            },
            "allowusergeneratedcontent":{
               "type":"int",
               "description":"Allow user generated content",
               "enum":[1,0]
            },
            "discussions":{
               "type":"int",
               "description":"Allow discussions",
               "enum":[1,0]
            },
            "title":{
               "type":"string",
               "example":""
            },
            "subTitle":{
               "type":"string",
               "example":""
            },
            "notes":{
               "type":"string",
               "example":""
            },
            "accountManager":{
               "type":"string",
               "description":"Exact name 'first name'",
               "example":""
            },
            "editor":{
               "type":"string",
               "description":"Exact name 'first name'",
               "example":""
            },
            "category":{
               "type":"int",
               "example":""
            },
            "affilliate_network":{
               "type":"string",
               "description":"",
               "example":""
            },
            "deeplinkstatus":{
               "type":"int",
               "description":"Deeplink code (Yes/No)",
               "enum":[1,0]
            },
            "refurl":{
               "type":"string",
               "description":"Ref Url(Page slug)"
            },
            "actualurl":{
               "type":"string",
               "description":"Actual Url",
               "example":"http://www.test.com"
            },
            "moneyShop":{
               "type":"int",
               "enum":[1,0]
            },
            "shopLogo":{
               "type":"string"
            },
            "website_screenshot":{
               "type":"string"
            },
            "shoptext":{
               "type":"string"
            }       
         }
      },
      "ApiResponse":{
         "type":"object",
         "properties":{
            "code":{
               "type":"integer",
               "format":"int32"
            },
            "type":{
               "type":"string"
            },
            "message":{
               "type":"string"
            }
         }
      }
   },
   "externalDocs":{
      "description":"Find out more about Flipit",
      "url":"http://flipit.com"
   }
}