{
   "swagger":"2.0",
   "info":{
      "description":"Welcome to Flipit API store",
      "version":"1.0.0",
      "title":"Flipit API",
      "contact":{
         "email":"test@flipit.lcl"
      }
   },
   "host":"api.flipit.lcl",
   "basePath":"/v2",
   "tags":[
      {
         "name":"offer",
         "description":"Everything about offers",
         "externalDocs":{
            "description":"Find out more",
            "url":"http://test.io"
         }
      }
   ],
   "schemes":[
      "http"
   ],
   "paths":{
      "/offer":{
         "post":{
            "tags":[
               "offer"
            ],
            "summary":"Add a new offer",
            "description":"",
            "operationId":"addOffer",
            "consumes":[
               "application/json",
               "application/xml"
            ],
            "produces":[
               "application/xml",
               "application/json"
            ],
            "parameters":[
               {
                  "in":"body",
                  "name":"body",
                  "description":"Offer object that needs to be added to the store",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/Offer"
                  }
               }
            ],
            "responses":{
               "405":{
                  "description":"Invalid input"
               }
            },
            "security":[
               {
                  "offerstore_auth":[
                     "write:offers",
                     "read:offers"
                  ]
               }
            ]
         },
         "put":{
            "tags":[
               "offer"
            ],
            "summary":"Update an existing offer",
            "description":"",
            "operationId":"updateOffer",
            "consumes":[
               "application/json",
               "application/xml"
            ],
            "produces":[
               "application/xml",
               "application/json"
            ],
            "parameters":[
               {
                  "in":"body",
                  "name":"body",
                  "description":"Offer object that needs to be added to the store",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/Offer"
                  }
               }
            ],
            "responses":{
               "400":{
                  "description":"Invalid ID supplied"
               },
               "404":{
                  "description":"Offer not found"
               },
               "405":{
                  "description":"Validation exception"
               }
            },
            "security":[
               {
                  "offerstore_auth":[
                     "write:offers",
                     "read:offers"
                  ]
               }
            ]
         }
      },
      
      "/offer/{offerId}":{
         "get":{
            "tags":[
               "offer"
            ],
            "summary":"Find offer by ID",
            "description":"Returns a single offer",
            "operationId":"getofferById",
            "produces":[
               "application/xml",
               "application/json"
            ],
            "parameters":[
               {
                  "name":"offerId",
                  "in":"path",
                  "description":"ID of offer to return",
                  "required":true,
                  "type":"integer",
                  "format":"int64"
               }
            ],
            "responses":{
               "200":{
                  "description":"successful operation",
                  "schema":{
                     "$ref":"#/definitions/offer"
                  }
               },
               "400":{
                  "description":"Invalid ID supplied"
               },
               "404":{
                  "description":"offer not found"
               }
            },
            "security":[
               {
                  "api_key":[

                  ]
               }
            ]
         },
         "delete":{
            "tags":[
               "offer"
            ],
            "summary":"Deletes a offer",
            "description":"",
            "operationId":"deleteoffer",
            "produces":[
               "application/xml",
               "application/json"
            ],
            "parameters":[
               {
                  "name":"api_key",
                  "in":"header",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"offerId",
                  "in":"path",
                  "description":"offer id to delete",
                  "required":true,
                  "type":"integer",
                  "format":"int64"
               }
            ],
            "responses":{
               "400":{
                  "description":"Invalid offer value"
               }
            },
            "security":[
               {
                  "offerstore_auth":[
                     "write:offers",
                     "read:offers"
                  ]
               }
            ]
         }
      }
     
   },
   "securityDefinitions":{
      "offerstore_auth":{
         "type":"oauth2",
         "authorizationUrl":"http://api.flipit.com/oauth/dialog",
         "flow":"implicit",
         "scopes":{
            "write:offers":"modify offers in your account",
            "read:offers":"read your offers"
         }
      },
      "api_key":{
         "type":"apiKey",
         "name":"api_key",
         "in":"header"
      }
   },
   "definitions":{
      "Order":{
         "type":"object",
         "properties":{
            "id":{
               "type":"integer",
               "format":"int64"
            },
            "offerId":{
               "type":"integer",
               "format":"int64"
            },
            "quantity":{
               "type":"integer",
               "format":"int32"
            },
            "shipDate":{
               "type":"string",
               "format":"date-time"
            },
            "status":{
               "type":"string",
               "description":"Order Status",
               "enum":[
                  "placed",
                  "approved",
                  "delivered"
               ]
            },
            "complete":{
               "type":"boolean",
               "default":false
            }
         },
         "xml":{
            "name":"Order"
         }
      },
      "offer":{
         "type":"object",
         "required":[
            "name",
            "photoUrls"
         ],
         "properties":{
            "id":{
               "type":"integer",
               "format":"int64"
            },
            "category":{
               "$ref":"#/definitions/Category"
            },
            "name":{
               "type":"string",
               "example":"doggie"
            },
            "photoUrls":{
               "type":"array",
               "xml":{
                  "name":"photoUrl",
                  "wrapped":true
               },
               "items":{
                  "type":"string"
               }
            },
            "tags":{
               "type":"array",
               "xml":{
                  "name":"tag",
                  "wrapped":true
               },
               "items":{
                  "$ref":"#/definitions/Tag"
               }
            },
            "status":{
               "type":"string",
               "description":"offer status in the store",
               "enum":[
                  "available",
                  "pending",
                  "sold"
               ]
            }
         },
         "xml":{
            "name":"offer"
         }
      },
      "ApiResponse":{
         "type":"object",
         "properties":{
            "code":{
               "type":"integer",
               "format":"int32"
            },
            "type":{
               "type":"string"
            },
            "message":{
               "type":"string"
            }
         }
      }
   },
   "externalDocs":{
      "description":"Find out more about Flipit",
      "url":"http://flipit.com"
   }
}