*{
    margin: 0;
    padding: 0;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}

img {
    border:0 none;
}

#wrapper{
    width: 970px;
    float: left;
    background: #fff;
    height: auto;
    padding: 0;
}

header{
    background: none repeat scroll 0 0 #FD8024;
    float: left;
    width: inherit;
    margin-bottom: 12px;
}

header .head-main{
    float: left;
    padding: 35px 25px;
}

header .head-main img{
    float: left;
    margin: 0 30px 0 0;
}

header .head-main .header-title{
    border: medium none;
    color: #FFFFFF;
    font-size: 24px;
    margin: 0;
    padding: 0;
    width: 748px;
}

#wrapper .content{
    float: left;
    width: 968px;
    border: 1px solid #bbbbbb;
}

#wrapper .content .content-title{
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #EBEBEB),
        color-stop(1, #CDCDCD)
    );
    background-image: -o-linear-gradient(bottom, #EBEBEB 0%, #CDCDCD 100%);
    background-image: -moz-linear-gradient(bottom, #EBEBEB 0%, #CDCDCD 100%);
    background-image: -webkit-linear-gradient(bottom, #EBEBEB 0%, #CDCDCD 100%);
    background-image: -ms-linear-gradient(bottom, #EBEBEB 0%, #CDCDCD 100%);
    background-image: linear-gradient(to bottom, #EBEBEB 0%, #CDCDCD 100%);   
    padding: 10px 0 10px 10px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #bbbbbb;
}

.coupon{
    float: left;
    list-style: none;
}

.coupon li {
    border-bottom: 1px dotted #bbbbbb;
    float: left;
    margin: 15px 20px;
    padding: 0 0 15px;
    width: 928px;
}

.coupon li:last-child{
    border: none;
}

.coupon li .coupon-image{
    float: left;
    width: 250px;
}

.coupon li .coupon-image img{
    border: 1px solid #bbbbbb;
}

.coupon li .coupon-content{
    float: left;
    width: 670px;
}

.coupon li .coupon-content h1.title a{
    text-decoration: none;
    color: #000;
}

.coupon li .coupon-content h1.title{
    margin: 0;
    padding: 0 0 8px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    float: left;
    background-image: none;
    border: none;
    width: 100%;
}

.coupon li .coupon-content h1.title .exclusive{    
    color: #b90a37;
}

.coupon-number a{
    background: none repeat scroll 0 0 #B90A37;
    display: table;
    float: left;
    height: 30px;
    margin: 0;
    width: 250px;
    text-decoration: none;
}

.coupon-number a p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 14px;
}

.coupon-number .number{
    background: none repeat scroll 0 0 #1477A2;
    width: 30px;
}

.coupon-number .coupon-text{
    background: none repeat scroll 0 0 #FD8024;
    text-transform: uppercase;
}

.coupon-content .date{
    float: left;
    margin: 0 0 5px;
    width: 100%;
    font-size: 12px;
}