<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /public/blog/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /public/blog/index.php [L]
</IfModule>