body {
	background:#fff;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000000;
}
* {
	margin:0px;
	padding:0px;
}
img {
	border:0 none;
}
.container {
	width:auto;
	margin:0 auto;
	padding: 0;
}


.area_left {
	width:100%;
	float:left;
}
.leftbox {
	background: none repeat scroll 0 0 #ffffff;
    clear: both;
    margin: 0;
    padding: 15px 10px;
    width: auto;
	border-bottom: 1px solid #B1C4DF;
}
.leftbox:hover {
	background: none repeat scroll 0 0 #fff8d7;
}
.zalando {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B1C4DF;
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    width: 100px;
}
.zalando img{
	vertical-align:middle;
}
.number {
	margin: 0 0 0 115px;
    width: auto;
}
 
.textkorting {
	color: #333333;
    width: auto;
}
.textkorting:hover{
	color:#1A328A;
}
.leftbox h1 {
	font-size: 18px;
    font-weight: bold;
	text-decoration: none;
	margin:0 0 10px;
}
.leftbox h1 a{
	text-decoration: none;
	color:#333333;
}
}

.textkorting p a
{
	text-decoration: none;
 	color: #333333;
}
 
.textkorting:hover a
{
	color:#1A328A;
}
.textkorting a:hover
{
	color:#1A328A;
	
}
.textkorting p {
	font-size: 14px;
    font-weight: normal;
    line-height: 14.2pt;
    padding: 0px 0 10px;
	color: #333333;
}
.textkorting p a{
	text-decoration: none;
 	color: #333333;
}
.textkorting a.button {
	color: #000000;
	cursor: pointer;
	width:162px;
	display:block;
	padding:7px 0;
	font-size:18px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	text-decoration:none;
	border:1px solid #da7519;
	-webkit-box-shadow: inset 0px 0px 4px rgba(255,255,255,0.9);
	-moz-box-shadow: inset 0px 0px 4px rgba(255,255,255,0.9);
	box-shadow: inset 0px 0px 4px rgba(255,255,255,0.9);
	background: #ff7e07; /* Old browsers */
background: -moz-linear-gradient(left,  #ff7e07 0%, #ffa530 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff7e07), color-stop(100%,#ffa530)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ff7e07 0%,#ffa530 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ff7e07 0%,#ffa530 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ff7e07 0%,#ffa530 100%); /* IE10+ */
background: linear-gradient(to right,  #ff7e07 0%,#ffa530 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7e07', endColorstr='#ffa530',GradientType=1 ); /* IE6-9 */

	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.textkorting a.button:hover {
	
	-webkit-box-shadow: 0px 3px 3px rgba(182,187,193,0.9);
	-moz-box-shadow: 0px 3px 3px rgba(182,187,193,0.9);
	box-shadow: 0px 3px 3px rgba(182,187,193,0.9);
	color:#ffeca4;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}